<!DOCTYPE html>
<html lang="en">

<head>
  <script src="//localhost:35729/livereload.js?snipver=1"></script>

  <title>Vue Todo</title>
  <script src="../vue.js"></script>
</head>

<body>
  <div id="app">
    <input v-bind:placeholder="placeholder"
           autofocus
           v-model="newTodo"
           v-on:keyup.enter="addTodo">
    <ul>
      <li v-for="(todo, index) in todos"
          v-on:click="removeTodo(index)"
          title="Click to remove">{{ todo }}
      </li>
    </ul>
  </div>
  <script>
    new Vue({
      el: '#app', // Mount vue on element with id="app"
      data: {
        todos: ['learn Vue.js', 'make cool stuff'],
        newTodo: '',
      },
      computed: {
        placeholder() {
          if (!this.todos.length) {
            return 'Enter a todo...'
          }
          return 'Enter another todo...'
        }
      },
      methods: {
        addTodo() {
          this.todos.push(this.newTodo)
          this.newTodo = ''
        },
        removeTodo(todoIndex) {
          this.todos.splice(todoIndex, 1)
        }
      }
    })

    Vue.config.productionTip = false
  </script>

  <style>
    * {
      font-family: sans-serif;
      font-size: 25px;
    }

    body {
      background-color: #43BB84;
    }

    input {
      display: block;
      padding: 10px;
    }

    input,
    ul {
      width: 33%;
      margin: 30px auto;
    }

    li {
      cursor: pointer;
      color: #2c3e50;
    }

  </style>
</body>

</html>
