<!DOCTYPE html>
<html lang="en">

<head>
  <script src="//localhost:35729/livereload.js?snipver=1"></script>

  <title>Hello Vue</title>
  <script src="../vue.js"></script>
</head>

<body>
  <div id="app"
       v-if="visible"
       v-bind:title="hover">
    {{message}}

    <div v-for="color in colors"
         v-bind:style="{ backgroundColor: color }">
      {{color}}
    </div>

    <button v-on:click="sortColors">Sort</button>

    <input v-bind:value="message"
           v-on:input="message = $event.target.value">
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue!',
        hover: 'Vue loaded this on ' + new Date(),
        visible: true,
        colors: ['red', 'green', 'blue']
      },
      methods: {
        sortColors() {
          this.colors = this.colors.sort()
        }
      }
    })

    Vue.config.productionTip = false
  </script>
</body>

</html>
